header {
  width: 100%;
  display: flex;
  padding: 2%;
  text-align: center;
  color: white;
  background-image: linear-gradient(
    to left,
    rgb(13, 61, 218),
    rgba(137, 196, 244, 1)
  );
}

body {
  font-family: "Zen Kurenaido", sans-serif;
  background-image: linear-gradient(
    to left,
    rgb(13, 61, 218),
    rgba(137, 196, 244, 1)
  );
  justify-content: center;
  color: white;
}

.recipe-link {
  color: white;
}

@media only screen and (max-width: 1200px) {
  body {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 800px) {
  body {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  body {
    flex-wrap: wrap;
    background: rgba(137, 196, 244, 1);
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
    background: rgba(137, 196, 244, 1);
  }
}
